<article class="post">
  <image rel="post_image" src="{{post_image}}" alt="dog pic">
  <div class="title">
    <a class="title" href="/post/{{id}}" target="_blank">{{title}}</a>
    <br />
    <span>{{post_url}}</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>